@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZIBADOGS</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                <li><a href="../../">Գլխավոր էջ</a></li>
                <li>Օգնականներ</li>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <h3>Դավթյան Մարի</h3>
            <hr>
            <div class="col-md-6">
                <img src="~/images/Assis/Ziba.jpg" class="img-responsive">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>

            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Էլ. Հասցե</h4>
                                <p>
                                    davtyan_mari03@list.ru
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ուսում</h4>
                                <p>
                                    միջինակարգ կրթություն
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">ՀԲԸՄ սկուտ առաջնորդ</h4>
                                <p>
                                    Սկաուտը օգնում և պաշտպանում է կենդանիներին
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <h3>Կարինա Կարա</h3>
            <hr>
            <div class="col-md-6">
                <img src="~/images/Assis/Kara.jpg" class="img-responsive">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>

            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Էլ. Հասցե</h4>
                                <p>
                                    KarineKara@Gmail.com
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ուսում</h4>
                                <p>
                                    միջինակարգ կրթություն
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-services">
        <div class="container">
            <h3>Նեշանիյան Սևակ</h3>
            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Էլ. Հասցե</h4>
                                <p>
                                    Sevaklos@gmail.com
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ուսում</h4>
                                <p>
                                    Բակալավր
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">ՀԲԸՄ սկուտ առաջնորդ</h4>
                                <p>
                                    Սկաուտը օգնում և պաշտպանում է կենդանիներին
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <img src="~/images/Assis/Siah.jpg" class="img-responsive">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer">
            <div class="container">
                <div class="social-icon">
                    <div class="col-md-4">
                        <ul class="social-network">
                            <li><a href="https://www.facebook.com/profile.php?id=100006196322624" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.youtube.com/watch?v=C4y_h9xbyDE" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/functions.js"></script>

</body>
</html>