@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZIBADOGS</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                <li><a href="../../">Գլխավոր էջ</a></li>
                <li>Օգտակար նյութեր</li>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="center">
                <h2>Տեղեկություններ</h2>
            </div>

            <ul class="text-center">
                <li><a class="btn btn-default " asp-action="DogsFacts">Փաստեր</a></li>
                <li><a class="btn btn-default active" asp-action="DogsInformation">Տեղեկատվություն</a></li>
                <li><a class="btn btn-default" asp-action="DogsPictures">Նկարներ</a></li>
            </ul><!--/#portfolio-filter-->
        </div>

        <div class="container">
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="~/images/6.jpg" class="img-responsive" />
                <p>
                    A dog is a mammal in the order Carnivora.

                    Dogs were domesticated from wolves as recently as 15,000 years ago. New evidence
                    suggests that dogs were first domesticated in East Asia, possibly China. Over
                    time,the dog has developed into hundreds of breeds with a great degree of variation.
                </p>
            </div>

            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <h2>Template built with Twitter Bootstrap</h2>
                <p>
                    Dogs, like humans, are highly social animals and this similarity in their overall
                    behavioural pattern accounts for their trainability, playfulnes and ability to fit
                    into human households and social situations. This similarity has earned dogs a unique
                    position in the realm of interspecies relationships.
                <p>
                    The loyalty and devotion that dogs demonstrate as part of their natural instincts as
                    pack animals closely mimics the human idea of love and friendship, leading many dog
                    owners to view their pets as full-fledged family members.
                </p>
                <p>
                    The common name for the domestic dog is ‘Canis familiaris‘, a species of the dog
                    family ‘Canidae’. The dog is generally considered the ‘first’ domesticated animal.
                </p>
                <p>
                    Dogs can differ in appearance, function, temperament and size. Some small dogs can
                    weigh as little as 1.5 pounds, whereas some larger dogs can weigh as much as 200 pounds.
                </p>
                <p>
                    Depending on the country, there are about 138 officially recognised dog breeds.
                </p>
                <p>
                    Dogs fill a variety of roles in human society and are often trained as working dogs.
                    For dogs that do not have traditional jobs, a wide range of dog sports provide the
                    opportunity to exhibit their natural skills.
                </p>
                <p>
                    It is estimated that for more than 12,000 years the dog has lived with humans as a
                    hunting companion, protector and friend. A dog is one of the most popular pets in
                    the world and has been referred to as ‘mans best friend’. Whether you are poor or
                    rich, a dog will be faithful and loyal to you and love you to bits.
                </p>
                <p>
                    A pet dog will fit easily into family life and environment, they of course need caring
                    for as any other pet – feeding, grooming, bathing and when ill, will need a visit to the
                    vets. Dogs thrive on affection and will happily wag its tail when showered with love and
                    attention. Dogs will also sit and sulk if they get told off for doing something wrong.
                </p>
                <p>
                    A well-mannered dog must be trained properly and with patience and perciverence.You
                    must never mistreat a dog at any time as not only is it very wrong to mistreat any
                    animal, but some will bite in their own defense.
                </p>
                <p>
                    Larger dogs need considerably more exercise over a larger area than medium sized or
                    small dogs. You can take them out into the countryside or to your local park or
                    recreation ground. Here, they can run about and play games and get the exercise they
                    need to keep them fit and healthy.
                </p>
                <p>
                    Dogs can be taught how to do things. Throw a small branch, stick or frizzbee and you
                    can teach your dog to go fetch and bring the item back to you. Dogs have nearly 220
                    million smell-sensitive cells over an area about the size of a pocket handkerchief
                    (compared to 5 million over an area the size of a postage stamp for humans). Some
                    breeds have been selectively bred for excellence in detecting scents.
                </p>
                <p>
                    What information a dog actually detects when he is scenting is not perfectly understood.
                    Although once a matter of debate, it now seems to be well established that dogs can
                    distinguish two different types of scents when trailing an air scent from some person or
                    thing that has recently passed by, as well as a ground scent that remains detectable for
                    a much longer period.
                </p>
            </div>
        </div>
    </section><!--/#portfolio-item-->


    <footer>
        <div class="footer">
            <div class="container">
                <div class="social-icon">
                    <div class="col-md-4">
                        <ul class="social-network">
                            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="pull-right">
                    <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/functions.js"></script>

</body>
</html>