@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZIBADOGS</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                <li><a href="../../">Գլխավոր էջ</a></li>
                <li>Օգտակար նյութեր</li>
            </div>
        </div>
    </div>

    <section id="portfolio">
        <div class="container">
            <div class="center">
                <br />
                <h2>10 փաստեր, որոնք դուք չգիտեք շների մասին</h2>
            </div>

            <ul class="text-center">
                <li><a class="btn btn-default active" asp-action="DogsFacts">Փաստեր</a></li>
                <li><a class="btn btn-default" asp-action="DogsInformation">Տեղեկատվություն</a></li>
                <li><a class="btn btn-default" asp-action="DogsPictures">Նկարներ</a></li>
            </ul><!--/#portfolio-filter-->
        </div>
        <div class="container">
            <div class="">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">Your dog is as smart as a 2-year-old toddler</h3>
                                    <p>There’s a reason your tot and your pup get along so well: they speak the same language. Or at least, they likely understand roughly the same number of words and gestures — 250!</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">Dogs and cats both slurp water the same way</h3>
                                    <p>This may be hard to believe since dogs are such messy drinkers, but just like cats, our canine friends bend the tip of their tongue and raise liquid in a column up to their mouths</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">
                                        Your dog does have a sense of time — and misses you when you’re gone
                                    </h3>
                                    <p>If you think your dog knows when it’s time for dinner or a walk, you’re right! Dogs pick up on our routines and habits, and they also sense how much time has passed. One study showed how dogs responded differently to their owners being gone for different lengths of time</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs4.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">Your dog’s whiskers help him “see” in the dark</h3>
                                    <p>Okay, it’s not quite night-vision or a super power, but those whiskers pick up on even subtle changes in air currents, providing your pup with information about the size, shape, and speed of things nearby. This allows your dog to better sense approaching dangers or prey — even at night</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs5.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">On average, a dog’s mouth exerts 320 pounds of pressure</h3>
                                    <p>The tests were done on a German shepherd, American pit bull terrier, and Rottweiler. In comparison, human beings exert 120 pounds, white sharks exert 600 pounds, and crocodiles exert a whopping 2,500 pounds! Dogs also have ten more adult teeth than humans — 42 versus 32.</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs6.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">On average, a dog’s mouth exerts 320 pounds of pressure</h3>
                                    <p>The tests were done on a German shepherd, American pit bull terrier, and Rottweiler. In comparison, human beings exert 120 pounds, white sharks exert 600 pounds, and crocodiles exert a whopping 2,500 pounds! Dogs also have ten more adult teeth than humans — 42 versus 32.</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs7.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">Your one year-old pup is as physically mature as a 15-year-old human</h3>
                                    <p>Of course, different breeds age a little differently. Large dogs age faster than small ones. You can get a more exact comparison for your dog using this nifty Dog Age Calculator.</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsiveFact" src="~/images/DogsFacts/Dogs8.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 style="color:Green">Dogs can hear 4 times as far as humans</h3>
                                    <p>Puppies may be born deaf, but they quickly surpass our hearing abilities. Dogs can also hear higher pitched sounds, detecting a frequency range of 67 to 45,000 hertz (cycles per second). The human range is from 64 to 23,000 hertz. In both dogs and humans, the upper end of hearing range decreases with age</p>
                                    <a class="preview" href="~/images/DogsFacts/Dogs8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->


    <footer>
        <div class="footer">
            <div class="container">
                <div class="social-icon">
                    <div class="col-md-4">
                        <ul class="social-network">
                            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="pull-right">
                    <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
                </div>
            </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/functions.js"></script>


</body>
</html>