@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZIBADOGS</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                <li><a href="../../">Գլխավոր էջ</a></li>
                <li>Առողջական Խնդիրներ</li>
            </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>10 խորհուրդներ շների համար</h2>
                <img src="~/images/Health.jpg" class="img-responsive" />

                <p>
                    <h2 style="color:#1BBD36">Թաքցնել հետքերը դեպի ձեր տուն արական շներից</h2>
                    Եթե դուք զբոսնում եք դրսում ձեր շան հետ և նա ջերմում է, ապա իմաստուն կլինի, որ դեպի
                    տուն տանող ճանապարհի հետքերը վերացնեք: Սա լավագույնս արվում է `ձեր շանը մեքենայով
                    տանելու դեպի զբոսանքի վայր , այնպես որ արական շները չեն կարողանա գտնել ձեր տանը
                    ճանապարհը: Այս գտնելը հատկապես բարդացնում է, եթե ունեք բակ:
                </p>
                <p>
                    <h2 style="color:#1BBD36">Մենթոլը դիր պոչի ծայրին</h2>
                    Բացօթյա զբոսնելիս այս հնարքը կարող է օգնել քողարկել բույրը: Այն կարող է հարմար
                    լինել, եթե մոտակայքում հանկարծ հայտնվում է արական շուն, ուստի նա չի հայտնաբերում
                    ձեր իգական սեռի ջերմող շանը հեռավորությունից: Այնուամենայնիվ, եթե նա մոտենա, այս
                    մեթոդը այնքն էլ լավ չի աշխատի: Առկա են նաև որոշ ապրանքներ, որոնք հասանելի են հոտի
                    քողարկման համար: Փնտրեք դրանք ընտանի կենդանիների խանութում:
                </p>
                <p>
                    <h2 style="color:#1BBD36">Use doggie pants </h2> One of the most common heat symptoms in dogs is a bloody discharge
                    from the vulva. This may be very annoying if you have a new carpet. If your dog allows you to
                    put dog diapers or pants on her, you may use them, and the problem is solved. They may also
                    help to mask the odor outdoors and prevent males from following your dog back to your house.
                    However, doggie pants won’t stop your dog from mating, so do not let male dogs approach during
                    walks.
                </p>
                <p>
                    <h2 style="color:#1BBD36">Խորհրդակցեք անասնաբույժի հետ</h2>
                    Թեեւ ջերմության մեջ լինելը հիվանդություն չէ եւ չպետք է վերաբերվել որպես մեկը, ձեր
                    անասնաբույժի հետ զրուցելը, ջերմության ընթացքում հոգ տանելը կօգնի ձեզ, եթե անսպասելի
                    դժվարություններ առաջանան:
                </p>
                <p>
                    <h2 style="color:#1BBD36">Հաշվի առեք ձեր շան ձվարանները հեռացնեք</h2>
                    Մենք խստորեն խորհուրդ տվեցիք, որ ձեր շան ձվարանները հեռացնեք, եթե չեք պատրաստվում
                    բազմացնել: Թեև ոմանք կարող են ասել, որ ձվարանների հեռացումը բնական չէ, մենք կարող
                    ենք պնդել, որ թույլ չտալ նրան, որ զուգավորվի երբ նա ցանկանում է նաև բնական չէ:Կամ
                    տանը շանը պահելը: Կան շատ առավելություններ իգական շնների ձվարանների հեռացման մեջ,
                    ամենակարևորը `վարվելակերպի փոխությունը է և ուռուցքների  ռիսկի նվազեցումը:
                </p>
            </div>

            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <p>
                    <h2 style="color:#1BBD36">Երբեք թույլ չտալ ձեր շանը դուրս գալ բակ միայնակ</h2>

                    Ձեր շանը արական սեռի շներից և անցանալի հղիությանից պաշտպանելը ամենակարեւորն է,
                    երբ ձեր շունը ջերմության մեջ է: Կարեւոր չէ, նույնիսկ եթե ձեր շանը
                    մտադրություն ունեք բազմացնելու: Երբ ձեր սեփական շունը ջերմության մեջ է, մենք
                    փորձում ենք նրան բակում թողնել եւ ուղղակի հետեւել պատուհանից, մանավանդ երբ
                    դրսում ցուրտ է: Այնուամենայնիվ, այս հնարքը չի աշխատի, եթե հանկարծ մի արական սեռի շուն
                    հանկարծ հայտնվի մոտակայքում, կամ եթե ձեր շունը ցատկի ցանկապատով: Դուրս եկեք
                    ձեր բակ նրա հետ, երբ նա ջերմում է: Կախված նրա գործողությունից, դուք նույնիսկ
                    կարող եք օգտագործել շնակապ
                </p>
                <p>
                    <h2 style="color:#1BBD36">Առանց շան կապի զբոսանք</h2>
                    Չնայած ընդհանուր սխալ հասկացություններին, իգական սեռի ջերմող շունը կարող է
                    զբոսնել, իրականում նա զբոսանքի կարիք ունի: Այնուամենայնիվ, անհրաժեշտ է որոշ
                    նախազգուշական միջոցներ, ամենակարեւորը, որ ձեր շունն անընդհատ զբոսնի շնակապով:
                    Նույնիսկ եթե հաշվի առնեք, որ ձեր շունը չափազանց լավ է մարզված, առանց շնակապի
                    զբոսնելը բացառվում է, երբ ձեր շունը ջերմության մեջ է: ոչ մի մարզում այնքան
                    ուժեղ չէ, որքան բնազդները:
                </p>
                <p>
                    <h2 style="color:#1BBD36">Լրացուցիչ ուշադրություն</h2>
                    Երբ շունը ջերմության մեջ է, փոփոխությունները ոչ միայն ֆիզիկական են, այլև
                    մտավոր: Եթե ցանկանում եք վստահ լինել, որ ձեր շունը հանգիստ է, ջերմության մեջ,
                    ապա ձեզ հարկավոր է ավելի շատ ուշադրություն դարձնել, քան սովորաբար: խաղալը,
                    սանրելը,խոսել նրա հետ կամ զբոսնելը ընդամենը մի քանի օրինակ են: Ունցեք այն
                    լրացուցիչ ազատ ժամանակ հատկացնելու ձեր շանը երբ նա ջերմում է, և նա ավելի
                    հանգիստ եւ ավելի վստահ կզգա:Ոչ մի ուսուցում կամ շների ցուցադրուցյուն.
                    միջոցառումներումորտեղ ներգրավված են այլ շներ, միշտ պետք է խուսափել: Հոտը,
                    որ իգական շները առաջացնում են, շատ ջղայնացնում է արական շներին եւ շեղում նրանց
                    շոուներում իրենց առաջադրանքները կատարելու համար: արուների մեծ մասը զայրացած է,
                    եթե որևէ մեկը չի հարգում այս «օրենքը» և ներկայանում է շան շոուներում,իգական ջերմող
                    շան հետ: Դուք կարող եք խնդրել միջոցառման կազմակերպիչներին, որ եթե կարող եք ստանալ
                    փոխհատուցում, եթե ձեր շունը հանկարծակի ջերմություն է ունենում միջոցառումից առաջ:
                    Լուրջ միջոցառման կազմակերպիչները լրիվ կամ մասնակի փոխհատուցում են տալիս, եթե ձեր
                    շունը ջերմություն է ունենում կամ հիվանդանում է:
                </p>
                <p>
                    <h2 style="color:#1BBD36">Հաշվեկշիռը վարժությունների եւ հանգստի միջեւ</h2>
                    Տարբեր շները տարբեր կերպ են արձագանքում ջերմությանը: Ոմանք կարող են ամբողջ օրը
                    հոգնած լինեն, իսկ մյուսները կարող են անհանգիստ լինել: Դիտելով ձեր շան վարքը և
                    ընտրելով ճիշտ հանգստություն եւ վարժություն քանակությունը (քայլել, վազել, խաղալ և
                    այլն), կարևոր է ձեր շանը հարմար պահել: Եթե ձեր շունը ցանկանում է քնել,ապա նրա
                    ցանկությունը պետք է կատարվի, բայց եթե նա անհանգիստ է:
                </p>
                <p>
                    <h2 style="color:#1BBD36">Թողնել խաղալիքներ կամ ծամելու խաղալիքներ</h2>
                    Եթե դուք ստիպված եք լինում ձեր շանը մենակ թողնեք, թողեք նրան գա ձեր հետ դուրս
                    որպեսզի հանգստանա, ապա մտցրեք նրան ներս խաղալիքներով կամ ծամելու խաղալիքներով:
                    Դրեք դրանք մի կողմ, երբ վերադառնաք տուն,որպեսզի պահեք նրա հետաքրքրությունը մինչև
                    հաջորդ անգամ: Դա կօգնի ձեր անհանգիստ մտքերը հեռանան նրանից և զբաղվի, երբ դուք ներկա չեք:
                </p>
            </div>
        </div>
    </div>

    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/functions.js"></script>

</body>
</html>